body {
  text-align: left;
  background:#0451CF; 
}
.jumbotron{
  background:#0451CF; 
  color:white;  
}
.container{
   color:black;
   background: #0451CF;
}
.heading{
  background: #0451CF;
  color:white;
  border: #0451CF;
}

.table-heading{
  color: white;
}
.table-content{
  color:rgb(204, 224, 255);
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
